
@{
    ViewBag.Title = "Index";
}

<h2>Home#Index</h2>

<ul>
    <li>@Html.ActionLink("synchronous", "Sync", "Home")</li>
    <li>@Html.ActionLink("asynchronous", "Async", "Home")</li>
    <li>@Html.ActionLink("evil", "evil", "Home")</li>
</ul>